{{#each ideas}}
    <div class="card card-body mb-3">
        <h4>{{title}}</h4>
        <p>{{details}}</p>
        <a class = "btn btn-dark btn-block mb-3" href="/ideas/edit/{{id}}">Edit Idea</a>
        <form action="/ideas/{{id}}?_method=DELETE" method="post">
            <input type="hidden" name="_method" value="DELETE">
            
            <input type = "submit" value="Delete" class = "btn btn-danger btn-block" >

        </form>
   
    </div>
{{else}}
    <p>No Video listed</p>
{{/each}}